.footer {
  top: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* margin-top: 100%; */
  padding: 1rem;
  border-radius: 20px;
  /* border: 0.5px 0px 0px 0px; */
  box-shadow: .2px 0px 0px .2px;
  border-color: rgba(139, 145, 140, 1);
  /* flex: 1; */
}
.img {
  width: 2rem;
  height: 2rem;
  padding: 1.69px 3.12px 1.2px 2.18px;
  cursor: pointer;
}
