.homepage {
  height: 100vh;
  width: 100%;
  background-color: #f7fff8;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: transparent;
  border-width: 0px;
  font-size: 2.5rem;
}

.kyc {
  display: flex;
  padding: 1rem;
  color: #2ecc40;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  height: 1rem;
  gap: 10px;
}

#img {
  width: 18px;
  height: 15px;
  top: 4.5px;
  left: 3px;
}
