.joinContainer {
    max-width: 600px;
    margin:  auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: contain;
  }
  
  .categoryList {
    list-style-type: none;
    padding: 0;
  }
  
  .categoryItem {
    background-color: green;
    margin-top: 2rem ;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
  }
  
  