

.option {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.header {
  padding-top: 5rem;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 20px;
  text-align: center;
}

.button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
}
